/*
!/.gitignore

!/bin/
/bin/*
!/alias-with-secrets.bash
!/hurry-ssh.vbs
!/kill-pattern.bash
!/latest-available-cppstd-of.bash
!/PDF_downloader.py
!/stop-watch.js
!/webm2HEVC.ps1
!/chmod-x-useless.bash
!/s2qr.js
