/*
!/.gitignore
!/share/

!/bin/
/bin/*
!/bin/alias-with-secrets.bash
!/bin/hurry-ssh.vbs
!/bin/kill-pattern.bash
!/bin/latest-available-cppstd-of.bash
!/bin/PDF_downloader.py
!/bin/stop-watch.js
!/bin/webm2HEVC.ps1
!/bin/chmod-x-useless.bash
!/bin/s2qr.js
!/bin/my-https.bash
!/bin/wbcommander.bash
!/bin/my-miner.bash
!/bin/fetch-mihomo-geodata.bash
!/bin/my-mihomo.bash
!/bin/packed-vol-of-shynur-ide.bash
